*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


### Android ###

.gradle/
.local/
.idea/
.build/
captures/
output.json

# Android Studio
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/Recommended.xml
.idea/dictionaries/
.idea/httpRequests/
.idea/gradle.xml
.idea/sonarlint/

# Gradle
*.iml
*.hprof
build/
captures/
output.json

# 
.buildozer/
.codegen/
.externalNativeBuild/
.cxx/
.cargo/
.cache/

#
*.ap_
*.apk
*.aac
*.so
*.dex
*.DS_Store
*.log
*.pyc
*.pyo

# 
/local.properties
/gradle.properties
/.gradle/
.settings/

#  Remote 
/.idea
/test/

# NDK
/ndk-stack
wrapper/

#  IDE
.DS_Store
.idea/
*.apk
*.aab
*.jks
.gradle
